.gallery {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 230px 230px 230px 230px 230px;
  grid-gap: 130px;
  margin-left: 50px;
  margin-top: 50px;
  .gallery-item{
    &:hover{
      cursor: pointer;
    }
  }

}