.pager {
  user-select: none;

  .pager-item {
    width: 40px;
    height: 40px;
    display: inline-flex;
    border-radius: 4px;
    background-color: red;
    text-align: center;
    justify-content: center;

    &:hover {
      background-color: brown;
      color: #333;
    }

    &.active {
      background-color: brown;
      color: #333;
    }
  }
}
