.pager {
  user-select: none;

  .pager-item {
    width: 40px;
    height: 40px;
    display: inline-flex;
    border-radius: 4px;
    color: #fff;
    transition: background-color 200ms;

    &:hover {
      background-color: #fff;
      transition: background-color 200ms;
      color: #333;
    }

    &.active {
      background-color: #fff;
      color: #333;
    }
  }
}
